<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="stellares.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Leonidus/stellaresTest">
        <classes>
            <class name="stellares.LeonTest">
                <methods>
                    <include name="HappyFlow"/>
                    <include name="UnhappyFlow"/>
                </methods></class>
        </classes>
    </test>
</suite>